<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Client Form</title>
</head>
<body>
<form action="/chat/client/join" method="post">
    <div>
        <input type="text" id="name" name="name" required th:value="${personDtoChat.name}" placeholder="Enter your name">
        <input type="text" id="surname" name="surname" required th:value="${personDtoChat.surname}" placeholder="Enter your surname">
        <input type="text" id="nickname" name="nickname" required th:value="${personDtoChat.nickname}" placeholder="Enter your nickname">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
