<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Page</title>
    </head>
<body>
<div id="messages">
    <div th:each="msg : ${messages}">
        <span th:text="${msg.getMessage().getDisplayedTime()}">Time</span> <span th:text="${msg.getPerson().getNickname()}">Nickname</span>: <span
            th:text="${msg.getMessage().getBody()}">Message</span>
    </div>
</div>
<form th:action="@{/discussion}" th:object="${message}" method="post">
    <input type="text" th:field="*{message.body}"  placeholder="Enter your message" required>
    <button type="submit">Send</button>
</form>
<form th:action="@{/filteredMessages}" method="post">
    <input type="text" name="nicknameForFilter" th:value="${nicknameForFilter}" placeholder="Enter user's nickname" required>
    <button type="submit">Search</button>
</form>
<form action="/chat/client/leave" method="post">
    <button type="submit">Leave the chat</button>
</form>
</body>
</html>

